<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Register Page</title>
</head>
<body>
    <section>
        <div class="imgBx">
            <img src="regpg.jpg">

        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>SIGN UP</h2>
                <br>
                <form action="signup.php" method="post">
                    <div class="inputBx">
                        <span>First Name</span>
                        <input type="text" name="firstname" placeholder='First Name'required>
                    </div>
                   
                    <div class="inputBx">
                        <span>Last Name</span>
                        <input type="text" name="lastname" placeholder='Last Name'required>
                    </div>
                    
                    <div class="inputBx">
                        <span>Phone</span>
                        <input type="text" name="phone" placeholder='Phone Number'required>
                    </div>
                    
                    <div class="inputBx">
                        <span>Email</span>
                        <input type="text" name="email" placeholder='Email ID'required>
                    </div>
                    
                    <div class="inputBx">
                        <span>Username</span>
                        <input type="text" name="username" placeholder='Username'required>
                    </div>
                    
                    <div class="inputBx">
                        <span>Password</span>
                        <input type="password" name="password" placeholder='Password'required>
                    </div>
                    <div class="inputBx">
                        <span>Confirm Password</span>
                        <input type="password" name="cpassword" placeholder='Confirm Password'required>
                    </div>
                    <!--<div class="remember">
                        <label><input type="checkbox" name="">Remember me</label>
                    </div>
                    <br>-->
                    <div class="inputBx">
                        <br>
                        
                        <input type="submit" value="Create Account" name="submit">
                    </div>
                    <br>
                    
                    <div class="inputBx">
                        <p>Already have an account? <a href='index.html'>Sign in</a></p>
                    </div>


                </form>
            </div>

        </div>
    </section>

    </div>
</body>
</html>